extends layout 
block content
  body
    h1 New Book
    form(action='/books/new', method='post')
      if(errors)
        h2.error Oooops!
        ul.error
          each error in errors
            li=error.message
      include form
      p
        input(type='submit', value='Create New Book')
      p
        a.button(href='/') Cancel
